.currency-form{
  margin: auto;
  background-color: white;
  width: fit-content;
  border-radius: 8px;
  padding: 2em;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: all 0.5s;
}
.currency-form:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.input-full-width{
  display: flexbox;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin-bottom: 2em;

}
.currencyfrom-full-width {
  display: flexbox;
  justify-content:left;
  width: 20%;
  align-items: left;
  margin-right: 5em;
  margin-bottom: 2em;
}
.currencyto-full-width {
  display:flexbox;
  justify-content: right;
  width: 20%;
  align-items: right;
  margin-bottom: 2em;
  margin-left: 5em;
}
button {
  width: 140px;
}
section p {
  font-weight: 500;
  font-size: large;
  color: indigo;
  margin-top: 1em;
  text-align: center;

}

.historyTable {
  margin: auto;
  margin-bottom: 2em;
  background-color: white;
  border-radius: 8px;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: all 0.5s;
  width: 780px;
  transition: all 0.5s;
  color: indigo;

}
.historyTable:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transform: translateY(-5px);

}

div.historyTable h3 {
  color: indigo;
  /*background-color: brown;*/
  margin: auto;
  /*width: 20em;*/
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 1px solid indigo;
  cursor: default;
}
div.historyTable h3::after {
  width:80% ;
}

ul.ulList{
  list-style-type: none;
  display: grid;
  /*background-color: blueviolet;*/
  height: fit-content;
  margin-left: -1em;
}

div.id {
  display: block;
  float: left;
  width: 5%;
  /*background-color: orange;*/

}
div.value {
  display: block;
  float:left;
  width: 50%;
  margin: auto;
  text-align: end;
  /*background-color: pink;*/
}
div.fromto {
  display: block;
  float: inline-end;
  /*background-color: red;*/
  padding-right: 1em;
}

li {
  padding: 1px;
  transition: all 0.1s;
  cursor:default;
}
li:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 8px;

}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .historyTable{
    width:100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .historyTable{
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .historyTable{
    width: 768px;
  }
}
