div.container {
  margin: auto;
  margin-top: 10em;
  background-color: #fff;
  border-radius: 8px;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: all 0.5s;
}

div.container:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transform: translateY(-5px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
