.title {
  background: darkred;
  color: whitesmoke;
  padding: 10px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 1em;
  width: fit-content;

}
 p{
  font-weight: bold;
  line-height: 15px;
 }

a{
  color: darkred;
  text-decoration: none;
}
