@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
.MainTitle {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #151B8D;
  width: fit-content;
  display: block;
  position: relative;
  padding: 0.2em 0;
  transition: all 0.5s;

}
.MainTitle:hover{
  transform: translateY(-4px);
}
.MainTitle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #E23237;
  opacity: 0;
  transition: opacity 400ms, transform 400ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.MainTitle:hover::after,
.MainTitle:focus::after{
  transform: scale(1);
}

a {
  color: green;
  text-decoration: none;
}

body {
  height: auto;
  background-image: url("\src\assets\img\gradient_squares.png");
}

.class {
  background-color: #fff;
  border-radius: 8px;
  padding: 2em;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: all 0.5s;
}
.class:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transform: translateY(-5px);
}

main {
  margin: 0 auto;
  min-height: calc(100vh - 56px - 150px);
}
